.inbox-title{
  margin: 2rem 1rem;
}

.message-accordion {
  color: $secondary-color1;
  width: 100%;
  padding: 1.5rem;
  border-top: 1px solid $secondary-color1;
  border-bottom: 1px solid $secondary-color1;

  button{
    height: 3rem;
    background-color: transparent;
    border: 2px solid;
    border-radius: 1rem;

    &:hover{
      background-color: $secondary-color1;
      color: $primary-color1;
    }
  }


  h1 {
    font-size: 2rem;
    text-decoration: underline;
    color: $secondary-color1;

    &:hover {
      color: $secondary-color3;
    }
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .banner-right {
      display: flex;
      gap: 2em;
      align-items: center;
      padding-right: 5rem;

      .banner-image {
        max-height: 150px;
        width: 150px;
        border-radius: .5rem;
        object-fit: cover;
      }
    }
  }

  .message-content {
    height: 0;
    overflow: hidden;
    transition: height .5s ease-out;

    &.selected {
      height: auto;
      transition: height 0.5s ease-in;
    }
  }

  .message-content.show {
    height: auto;
    transition: height .5s ease-in;
  }

  &:hover {
    background: rgb(163, 163, 163);
    cursor: pointer;
  }
}

.message-accordions-wrapper {
  .message-accordion {
    &:nth-child(even) {
      background-color: $primary-color2; // Set the background color for even-indexed accordions
    }

    &:nth-child(odd) {
      background-color: $primary-color1; // Set the background color for odd-indexed accordions
    }
  }
}
