.nav {
  width: 15em;
  background-color: $primary-color2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .sideview {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    a {
      display: flex;
      color: $secondary-color1;
      font-size: 1em;

    }  
  }
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo a {
  color: $secondary-color1;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}