.nav {
  width: 15em;
  background-color: $primary-color4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .sideview {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    a {
      display: flex;
      color: $secondary-color1;
      font-size: 1em;
    }
    
    a:hover{
      font-weight: 900;
    }  
  }
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  font-size: 4em;
}

.logo a {
  color: $secondary-color1;
}