table {
  width: 100%;
  border-collapse: collapse;
}

th, td, {
  color: $secondary-color1;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid $primary-color1;
}

th {
  background-color: $primary-color2;
}

td:hover {
  background-color: $primary-color4;
}

