.top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 6rem;
  border-radius: .5rem;
  background-color: $primary-color3;
  color: $secondary-color1;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s;
}

.top-button.show {
  display: block;
}

.top-button:hover {
  background-color: #555;
}