$primary-color1: hsl(108, 19%, 40%);
$primary-color2: hsl(108, 19%, 30%);
$primary-color3: hsl(108, 19%, 22%);
$primary-color4: hsl(108, 19%, 20%);

$secondary-color1: hsl(42, 88%, 80%);
$secondary-color2: hsl(42, 88%, 73%);
$secondary-color3: hsl(42, 88%, 60%);
$secondary-color4: hsl(42, 88%, 52%);


$font1: 'EB Garamond', serif;
$font2: 'Inter', sans-serif;


